@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: "Press Start 2P", monospace;
  color: white;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}